extends _layout


append nav
    ul
        for item in user.nav
            li(class=item.current ? 'selected' : undefined)
                a(href=item.url)=item.title

append header
    a(href='/') 
        img(src= abu + 'logo.png' alt='Hunter Finance')
    | INVESTOR PORTAL
    span
        a(href='/account')= user.display_name