if !xhr
    doctype html
    html
    head
        block icons
            link(rel='apple-touch-icon', sizes='57x57', href= abu + '/apple-icon-57x57.png')
            link(rel='apple-touch-icon', sizes='60x60', href= abu + '/apple-icon-60x60.png')
            link(rel='apple-touch-icon', sizes='72x72', href= abu + '/apple-icon-72x72.png')
            link(rel='apple-touch-icon', sizes='76x76', href= abu + '/apple-icon-76x76.png')
            link(rel='apple-touch-icon', sizes='114x114', href= abu + '/apple-icon-114x114.png')
            link(rel='apple-touch-icon', sizes='120x120', href= abu + '/apple-icon-120x120.png')
            link(rel='apple-touch-icon', sizes='144x144', href= abu + '/apple-icon-144x144.png')
            link(rel='apple-touch-icon', sizes='152x152', href= abu + '/apple-icon-152x152.png')
            link(rel='apple-touch-icon', sizes='180x180', href= abu + '/apple-icon-180x180.png')
            link(rel='icon', type='image/png', sizes='192x192', href= abu + '/android-icon-192x192.png')
            link(rel='icon', type='image/png', sizes='32x32', href= abu + '/favicon-32x32.png')
            link(rel='icon', type='image/png', sizes='96x96', href= abu + '/favicon-96x96.png')
            link(rel='icon', type='image/png', sizes='16x16', href= abu + '/favicon-16x16.png')
            link(rel='manifest', href= abu + '/manifest.json')
            meta(name='msapplication-TileColor', content='#ffffff')
            meta(name='msapplication-TileImage', content= abu + '/ms-icon-144x144.png')
            meta(name='theme-color', content='#ffffff')
            meta(name='viewport', content='width=device-width,initial-scale=1')
        block styles
            link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
            link(rel='stylesheet' href='/css/rm.css')
        block scripts
            script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.js' data-main='js/rm.js' async)

        body        
            header
                block header
            nav
                block nav                        
            main
                block main
            footer
                block footer
            