extends _layout

block append body
    #header
        p
            | This will be a link

    #body
        .row
            h1 Headers
            section.onequarter
                include ./style/_headers
            section.half
                img(src='https://redmouse.blob.core.windows.net/img/rm-260.gif' alt='red mouse')
                img(src='https://redmouse.blob.core.windows.net/img/logo.gif' alt='red mouse')
                img(src='https://redmouse.blob.core.windows.net/img/rm-260.gif' alt='red mouse')
                img(src='https://redmouse.blob.core.windows.net/img/logo.gif' alt='red mouse')
                img(src='https://redmouse.blob.core.windows.net/img/rm-260.gif' alt='red mouse')
                img(src='https://redmouse.blob.core.windows.net/img/logo.gif' alt='red mouse')

            section.onequarter
                p Bacon ipsum dolor amet fatback boudin ham bresaola tail cow meatball beef bacon rump tri-tip. Salami boudin shankle kevin, capicola jerky venison turducken corned beef spare ribs tri-tip ribeye pastrami. Kevin corned beef bacon, spare ribs alcatra pork loin meatball biltong pork. Meatball fatback beef alcatra turkey ham leberkas biltong picanha landjaeger t-bone.
            
            
        .row
            h1 Tables
            include ./style/_tables
        .row
            h1 Forms
            include ./style/_forms
        .row
            h1 Buttons
            include ./style/_buttons
