form
    fieldset.onequarter
        legend 
            span Default
        .field
            label(for='cars') Cars
            select(name='cars')
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='fiat') Fiat
                option(value='audi') Audi
        .field
            label(for='checkme') Checkbox
            input(type='checkbox' name="checkme")
        .field
            label(for='radiome') Radio
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
        .field
            label(for='texts') Text
            input(type='text' name='texts')
        .field
            label(for='dates') Dates
            input(type='date' name='dates')
        .field
            label(for='datetimes') DateTimes
            input(type='datetime' name='datetimes')
        .field
            label(for='datetimes-local') DateTimes Local
            input(type='datetime-local' name='datetimes')
        .field
            label(for='months') Month
            input(type='month' name='months')
        .field
            label(for='times') Time
            input(type='time' name='time')
        .field
            label(for='weeks') Week
            input(type='week' name='weeks')
        .field
            label(for='emails') Email
            input(type='email' name='emails')
        .field
            label(for='numbers') Number
            input(type='number' name='numbers')
        .field
            label(for='passwords') Password
            input(type='password' name='passwords')
        .field
            label(for='searches') Search
            input(type='search' name='searches')
        .field
            label(for='tels') Telephone
            input(type='tel' name='tels')
        .field
            label(for='urls') Url
            input(type='url' name='urls')
        .field
            label(for='texts') Texts
            textarea(name='texts')

    fieldset.onequarter
        legend 
            span Success
        .field.success
            label(for='cars') Cars
            select(name='cars')
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='fiat') Fiat
                option(value='audi') Audi
        .field.success
            label(for='checkme') Checkbox
            input(type='checkbox' name="checkme")
        .field.success
            label(for='radiome') Radio
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
        .field.success
            label(for='texts') Text
            input(type='text' name='texts')
        .field.success
            label(for='dates') Dates
            input(type='date' name='dates')
        .field.success
            label(for='datetimes') DateTimes
            input(type='datetime' name='datetimes')
        .field.success
            label(for='datetimes-local') DateTimes Local
            input(type='datetime-local' name='datetimes')
        .field.success
            label(for='months') Month
            input(type='month' name='months')
        .field.success
            label(for='times') Time
            input(type='time' name='time')
        .field.success
            label(for='weeks') Week
            input(type='week' name='weeks')
        .field.success
            label(for='emails') Email
            input(type='email' name='emails')
        .field.success
            label(for='numbers') Number
            input(type='number' name='numbers')
        .field.success
            label(for='passwords') Password
            input(type='password' name='passwords')
        .field.success
            label(for='searches') Search
            input(type='search' name='searches')
        .field.success
            label(for='tels') Telephone
            input(type='tel' name='tels')
        .field.success
            label(for='urls') Url
            input(type='url' name='urls')
        .field.success
            label(for='texts') Texts
            textarea(name='texts')                
    fieldset.onequarter 
        legend 
            span Warning
        .field.warning
            label(for='cars') Cars
            select(name='cars')
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='fiat') Fiat
                option(value='audi') Audi
        .field.warning
            label(for='checkme') Checkbox
            input(type='checkbox' name="checkme")
        .field.warning
            label(for='radiome') Radio
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
        .field.warning
            label(for='texts') Text
            input(type='text' name='texts')
        .field.warning
            label(for='dates') Dates
            input(type='date' name='dates')
        .field.warning
            label(for='datetimes') DateTimes
            input(type='datetime' name='datetimes')
        .field.warning
            label(for='datetimes-local') DateTimes Local
            input(type='datetime-local' name='datetimes')
        .field.warning
            label(for='months') Month
            input(type='month' name='months')
        .field.warning
            label(for='times') Time
            input(type='time' name='time')
        .field.warning
            label(for='weeks') Week
            input(type='week' name='weeks')
        .field.warning
            label(for='emails') Email
            input(type='email' name='emails')
        .field.warning
            label(for='numbers') Number
            input(type='number' name='numbers')
        .field.warning
            label(for='passwords') Password
            input(type='password' name='passwords')
        .field.warning
            label(for='searches') Search
            input(type='search' name='searches')
        .field.warning
            label(for='tels') Telephone
            input(type='tel' name='tels')
        .field.warning
            label(for='urls') Url
            input(type='url' name='urls')
        .field.warning
            label(for='texts') Texts
            textarea(name='texts')

    fieldset.onequarter
        legend 
            span Error
        .field.error
            label(for='cars') Cars
            select(name='cars')
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='fiat') Fiat
                option(value='audi') Audi
        .field.error
            label(for='checkme') Checkbox
            input(type='checkbox' name="checkme")
        .field.error
            label(for='radiome') Radio
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
            input(type='radio' name="radiome" value="1")
        .field.error
            label(for='texts') Text
            input(type='text' name='texts')
        .field.error
            label(for='dates') Dates
            input(type='date' name='dates')
        .field.error
            label(for='datetimes') DateTimes
            input(type='datetime' name='datetimes')
        .field.error
            label(for='datetimes-local') DateTimes Local
            input(type='datetime-local' name='datetimes')
        .field.error
            label(for='months') Month
            input(type='month' name='months')
        .field.error
            label(for='times') Time
            input(type='time' name='time')
        .field.error
            label(for='weeks') Week
            input(type='week' name='weeks')
        .field.error
            label(for='emails') Email
            input(type='email' name='emails')
        .field.error
            label(for='numbers') Number
            input(type='number' name='numbers')
        .field.error
            label(for='passwords') Password
            input(type='password' name='passwords')
        .field.error
            label(for='searches') Search
            input(type='search' name='searches')
        .field.error
            label(for='tels') Telephone
            input(type='tel' name='tels')
        .field.error
            label(for='urls') Url
            input(type='url' name='urls')
        .field.error
            label(for='texts') Texts
            textarea(name='texts')