form
    fieldset
        .field
            input(type='submit' name='submit' value='Submit')
            input(type='submit' name='delete' value='Delete')            
            a(href='').cancel Cancel