table
    caption This is a table
    thead
        tr
            th Head
            th Long Head
            th Header
            th Title
            th Sorted
            th Filtered
    tbody
        tr
            td(data-th='Head') Some Value
            td(data-th='Long Head') Some longer value
            td(data-th='Header') $ 10,000,000
            td(data-th='Title') 25 May 2015
            td(data-th='Sorted') 
                a(href='') Link 
            td(data-th='Filtered') 
                a(href='') Another Link
        tr
            td(data-th='Head') Some Value
            td(data-th='Long Head') Some longer value
            td(data-th='Header') $ 10,000,000
            td(data-th='Title') 25 May 2015
            td(data-th='Sorted') 
                a(href='') Link 
            td(data-th='Filtered') 
                a(href='') Another Link
        tr
            td(data-th='Head') Some Value
            td(data-th='Long Head') Some longer value
            td(data-th='Header') $ 10,000,000
            td(data-th='Title') 25 May 2015
            td(data-th='Sorted') 
                a(href='') Link 
            td(data-th='Filtered') 
                a(href='') Another Link