form
    fieldset
        padding 1em 0 1em 0
        border none
        legend
            padding 0
            margin 0
            width 100%
            font-size 1.25em
            line-height 1.25em
            text-align center
            align center
        section
            label
                display none                    
        +html5-inputs()
            input($red,50%)

        select
            input($red,50%)
        
         @import '_checkboxes'
                  
        .actions
            margin 0.5em
            line-height 1em
            text-align right
            vertical-align middle
            &> span
                float left
                margin-right 1em
                display inline-block
                text-align left
                vertical-align bottom
                a
                    display inline-block
                    font-size 0.8em
                    margin-top 0.5em
                    +below(rupture.mobile-cutoff)
                        font-size 0.9em
                
        input[type=submit]
            margin-right 1.5em
            vertical-align middle
        input[type=submit][name$=submit]
            glossy-button($silver, 'medium', $red)
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
                    
        input[type=submit][name$=delete]    
            glossy-button($silver, 'medium', $red)
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
            
        a[id$='cancel']
            glossy-button($silver, 'medium', $red)
            margin-right 1.5em         
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
        
        .field.success
            field-success()
        .field.warning
            field-warning()
        .field.error
            field-error()