form
    fieldset
        box-shadow 5px 5px 15px -5px rgba(247,0,0,1)       
        border-radius 0.8em
        padding 1em 0 1em 0
        border none
        background-color $white            
        legend
            padding 0
            margin 0
            width 100%
            font-size 1.25em
            line-height 1.25em
            span
                display block
                width 100%
                position relative
                top 0.5em
                background-color $black
                color $white
                border-radius 0.8em 0.8em 0 0
                text-align center
        .field
            padding 0.5em
            margin 0.5em
            label
                display inline-block
                width 35%
                text-align right
                margin-right 4%
                vertical-align middle
                &.error
                    position absolute
                    width auto
                    left 95%
                    color $red
                    white-space no-wrap
                    margin-top 0.33em
                    font-size 0.9em
                    +below(rupture.mobile-cutoff)
                        left 50%
                        margin-top 3em
                    
        +html5-inputs()
            input($red,50%)

        select
            input($red,50%)
        
         @import '_checkboxes'
         
                  
        .actions
            margin 0.5em
            line-height 1em
            text-align right
            vertical-align middle
            &> span
                margin-right 1em
                display inline-block
                text-align left
                vertical-align bottom
                a
                    display inline-block
                    font-size 0.8em
                    margin-top 0.5em
                    +below(rupture.mobile-cutoff)
                        font-size 0.9em
                
        input[type=submit]
            margin-right 1.5em
            vertical-align middle
        input[type=submit][name$=submit]
            glossy-button($silver, 'medium', $red)
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
                    
        input[type=submit][name$=delete]    
            glossy-button($silver, 'medium', $red)
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
            
        a[id$='cancel']
            glossy-button($silver, 'medium', $red)
            margin-right 1.5em         
            +below(rupture.mobile-cutoff)
                glossy-button($silver, 'small', $red) 
        
        .field.success
            field-success()
        .field.warning
            field-warning()
        .field.error
            field-error()