
html
    body
        padding 0
        margin 0
        font-family "Trebuchet MS", Helvetica, sans-serif
        font-size 1.2em
        gradient: $grey $silver 50%
        color $black
        +below(rupture.desktop-cutoff)
            font-size 1em
        +below(rupture.mobile-cutoff)
            font-size 0.85em
        cf()
.row
    center(95%)
    +below(rupture.desktop-cutoff)
        center(98%)
.span
    span(1)
    
#header
    span(1)
    height 3em
    line-height 3em
    box-shadow none
    border-radius 0
    z-index 1
    +below(rupture.desktop-cutoff)
        background $black
        border-bottom 1px solid $red
    > a
        margin-left 0.75em
        text-decoration none
        color $red
        font-weight bold
        +below(rupture.desktop-cutoff)
            margin-left 0.5em
        +below(rupture.mobile-cutoff)
            margin-left 0.25em
        img
            transform scaleX(-1)
            vertical-align middle
            height 3em
            margin-right 0.75em
            +below(rupture.desktop-cutoff)
                margin-right 0.5em
            +below(rupture.mobile-cutoff)
                margin-right 0.25em

section
    margin 1em 0 1em 0
    background-color $white            
    > div, p
        padding  0 1em 0 1em
#body
    margin-top 3em
    center(100%)

.half
    col(1/2)
    +below(rupture.mobile-cutoff)
        col(1)

.halfspan
    span(1/2)
    +below(rupture.mobile-cutoff)
        span(1)


.onethird
    col(1/3)
    +below(rupture.mobile-cutoff)
        col(1)
        
.onethirdspan
    span(1/3)
    +below(rupture.mobile-cutoff)
        span(1)

.twothird
    col(2/3)
    +below(rupture.mobile-cutoff)
        col(1)

.twothirdspan
    span(2/3)
    +below(rupture.mobile-cutoff)
        span(1)

.onequarter
    col(1/4)
    +below(rupture.desktop-cutoff)
        col(1/2,  uncycle: 4, cycle: 2)
    +below(rupture.mobile-cutoff)
        col(1)


.center
    col(1)
    height 100%
    &> *
        align(vertical)
        width 100%
    +above(rupture.mobile-cutoff)
        > *
            align(both)
            width auto          