    

input[type=checkbox]#menu
    position absolute
    top -9999px
    left -9999px
    &:checked ~ nav > ul
        display inline
        position fixed
        top 3em
        right 0

        background-color $black
        color $white


body > label
    position fixed
    line-height 3em
    top 0
    right 1em
    color $white
    z-index 2

nav
    ul
        list-style none
        display none
