nav
    ul
        list-style none
        padding 0 2em 0 4em
        margin 0
        background $lgrey
        height 4em
        li 
            display inline-block
            height 100%
            line-height 4em
            padding 0 2em 0 2em
            a
                text-decoration none
                color $dblue
                font-weight bold
                font-size 1.25em
            &.selected
                background $blue                
                a
                    color $white