
// nib for handy mixins
@import 'nib' 

// Jeet for our responsive model
@import 'jeet'

// Rupture for easy media queries
@import 'rupture'

// Axis for prettyness
@import 'axis'

@import '_pallette'

@import '_layout'

@import '_nav'

@import '_tables'

@import '_forms1'


// @import '_forms'

// debug() 
